* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
}
.container{
    
    background-color: #F0F8FF;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.navbar {
    background-color: #3e4444;
    color: white;
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}

.navbar--heading {
    padding: 10px;
}

.navbar--btn {
    width: 30px;
    border: none;
    outline: none;
    height: 30px;
    display: flex;
    justify-content: center;
    gap: 3px;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    margin: 15px;
    position: relative;
}

.navbar--btn span {
    height: 3px;
    width: 100%;
    border-radius: 25px;
    background-color: white;
}


.navbar--scroll {
    position: absolute;
    right: 0;
    top: 50px;
    background-color: #3e4444;
    color: white;
    padding: 10px;
    display: none;
}
.navbar--scroll a{
    color: white;
    text-decoration: none;
}
.show {
    display: inline-block;
}
.section--heading{
    padding:4px;
    margin:10px;
}
    .section--one {
        padding: 4px;
        margin: 10px;
    }
    .section--one p{
        display: flex;
        flex-shrink: 0;
        padding:10px;
    }
    .section--one input{
        padding:5px;
        margin-left: 10px;
        width:90%;
        border:1px solid black;
        outline: none;
    }
    .section--one--lastname {
        padding: 4px;
        margin: 10px;
    }
    .section--one--lastname p{
        display: flex;
        flex-shrink: 0;
        padding:10px;
    }
    .section--one--lastname input{
        padding:5px;
        margin-left: 10px;
        width:90%;
        border:1px solid black;
        outline: none;
    }
    
    .section--one--date {
        padding: 4px;
        margin: 10px;
    }
    .section--one--date p{
        display: flex;
        flex-shrink: 0;
        padding:10px;
    }
    .section--one--date input{
        padding:5px;
        margin-left: 10px;
        width:90%;
        border:1px solid black;
        outline: none;
    }
    .section--one--email{
        padding: 4px;
        margin: 10px;
    }
    .section--one--email{
        padding: 4px;
        margin: 10px;
    }
    .section--one--email p{
        display: flex;
        flex-shrink: 0;
        padding:10px;
    }
    .section--one--email input{
        padding:5px;
        margin-left: 10px;
        width:90%;
        border:1px solid black;
        outline: none;
    }
    .section--one--address{
        padding: 4px;
        margin: 10px;
        display: flex;
        flex-direction: column;
        gap:8px;
    }